In [1]:
# Import needed libraries
import numpy as np
import pandas as pd

In [2]:
# Import data 
div_stocks_df_original = pd.read_csv('dividend_stocks_only.csv')

In [3]:
# Instantiate a new dataframe using copy.
#We will work on this one keeping the origininal intact.
div_stocks_df = div_stocks_df_original.copy()

In [4]:
# Import data 
full_fin_stocks_df_original = pd.read_csv('full_financial_stocks_raw.csv')

In [5]:
full_fin_stocks_df = full_fin_stocks_df_original.copy()

In [6]:
div_stocks_df.head()

,symbol,security_name,listing_exchange,etf,financial_status,zip,sector,fullTimeEmployees,city,state,...,enterpriseToRevenue,forwardEps,revenueQuarterlyGrowth,bookValue,sharesShort,shortRatio,floatShares,enterpriseValue,regularMarketPrice,latest_dividend
0,A,"Agilent Technologies, Inc. Common Stock",N,N,NaN,95051,Healthcare,16300.0,Santa Clara,CA,...,4.987,3.57,NaN,15.636,5258241.0,2.55,3.085180e+08,2.611031e+10,86.30,0.18
1,AAL,"American Airlines Group, Inc. - Common Stock",Q,N,N,76155,Industrials,131500.0,Fort Worth,TX,...,0.796,-0.04,NaN,-6.233,119303588.0,1.49,4.167541e+08,3.478515e+10,12.43,0.10
2,AAP,Advance Auto Parts Inc Advance Auto Parts Inc W/I,N,N,NaN,27604,Consumer Cyclical,39000.0,Raleigh,NC,...,1.175,8.54,NaN,51.606,1691705.0,1.57,6.857524e+07,1.141075e+10,137.50,0.25
3,AAPL,Apple Inc. - Common Stock,Q,N,N,95014,Technology,137000.0,Cupertino,CA,...,5.108,14.73,NaN,18.137,33592445.0,0.89,4.329827e+09,1.368917e+12,316.14,0.82
4,AAT,"American Assets Trust, Inc. Common Stock",N,N,NaN,92130,Real Estate,205.0,San Diego,CA,...,7.849,1.35,NaN,21.713,706006.0,1.70,5.308802e+07,2.936203e+09,28.01,0.30

In [7]:
div_stocks_df.dtypes

symbol                          object
security_name                   object
listing_exchange                object
etf                             object
financial_status                object
zip                             object
sector                          object
fullTimeEmployees              float64
city                            object
state                           object
country                         object
industry                        object
twoHundredDayAverage           float64
trailingAnnualDividendYield    float64
averageDailyVolume10Day          int64
regularMarketPreviousClose     float64
open                           float64
averageVolume10days              int64
dividendRate                   float64
regularMarketVolume              int64
marketCap                      float64
averageVolume                    int64
dayLow                         float64
ask                            float64
fiftyTwoWeekHigh               float64
forwardPE                      float64
fiveYearAvgDividendYield       float64
dividendYield                  float64
bidSize                        float64
dayHigh                        float64
enterpriseToRevenue            float64
forwardEps                     float64
revenueQuarterlyGrowth         float64
bookValue                      float64
sharesShort                    float64
shortRatio                     float64
floatShares                    float64
enterpriseValue                float64
regularMarketPrice             float64
latest_dividend                float64
dtype: object

In [8]:
full_fin_stocks_df.head()

,symbol,security_name,listing_exchange,etf,financial_status,zip,sector,fullTimeEmployees,city,state,...,enterpriseToRevenue,forwardEps,revenueQuarterlyGrowth,bookValue,sharesShort,shortRatio,floatShares,enterpriseValue,regularMarketPrice,latest_dividend
0,A,"Agilent Technologies, Inc. Common Stock",N,N,NaN,95051,Healthcare,16300.0,Santa Clara,CA,...,4.987,3.57,NaN,15.636,5258241.0,2.55,308518035.0,2.611031e+10,86.30,0.180
1,AA,Alcoa Corporation Common Stock,N,N,NaN,15212,Basic Materials,13800.0,Pittsburgh,PA,...,0.417,-0.24,NaN,22.994,11633009.0,1.10,185121237.0,4.210365e+09,9.12,0.090
2,AADR,AdvisorShares Dorsey Wright ADR ETF,P,Y,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,47.59,0.008
3,AAL,"American Airlines Group, Inc. - Common Stock",Q,N,N,76155,Industrials,131500.0,Fort Worth,TX,...,0.796,-0.04,NaN,-6.233,119303588.0,1.49,416754073.0,3.478515e+10,12.43,0.100
4,AAME,Atlantic American Corporation - Common Stock,Q,N,N,30319,Financial Services,151.0,Atlanta,GA,...,0.371,NaN,NaN,4.964,1620.0,0.46,4879047.0,6.778967e+07,1.95,0.020

In [9]:
full_fin_stocks_df.dtypes

symbol                          object
security_name                   object
listing_exchange                object
etf                             object
financial_status                object
zip                             object
sector                          object
fullTimeEmployees              float64
city                            object
state                           object
country                         object
industry                        object
twoHundredDayAverage           float64
trailingAnnualDividendYield    float64
averageDailyVolume10Day          int64
regularMarketPreviousClose     float64
open                           float64
averageVolume10days              int64
dividendRate                   float64
regularMarketVolume              int64
marketCap                      float64
averageVolume                    int64
dayLow                         float64
ask                            float64
fiftyTwoWeekHigh               float64
forwardPE                      float64
fiveYearAvgDividendYield       float64
dividendYield                  float64
bidSize                        float64
dayHigh                        float64
enterpriseToRevenue            float64
forwardEps                     float64
revenueQuarterlyGrowth         float64
bookValue                      float64
sharesShort                    float64
shortRatio                     float64
floatShares                    float64
enterpriseValue                float64
regularMarketPrice             float64
latest_dividend                float64
dtype: object